.threejs{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.containerControls{
    position: absolute;
    z-index: 1;
    right:1rem;
    top:1rem;
    opacity: 0.5;
}
.containerControls>img{
    width: 25vw;
}

@media screen and (max-width:580px) {

    .containerControls{
        display: none;
    }
}